# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: georgegca/multi-language-al-folio:slim
    # build: .
    ports:
      - 8080:8080
      - 35729:35729
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
