<div class="publications" style="--stagger: {{ animation_count }};" data-animate>
  {% assign animation_count = animation_count | plus: 1 %}
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
