/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$almost-white-color: #f8f8fa !default;
$black-color: #000000 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$blue-color-light: lighten($blue-color, 25%);
$cyan-color: #2698ba !default;
$cyan-color-light: lighten($cyan-color, 25%);
$green-color-bright: #11d68b !default;
$green-color-dark: #009f06 !default;
$green-color-darker: #036102 !default;
$green-color-light: #ddffdd !default;
$green-color-lime: #b7d12a !default;
$green-color: #00ab37 !default;
$grey-900: #212529;
$grey-color: #828282 !default;
$grey-color-dark: #1c1c1d;
$grey-color-semi-dark: darken($grey-color, 30%);
$grey-color-semi-light: lighten($grey-color, 30%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-lighter: #eee !default;
$orange-color: #f29105 !default;
$pink-color-light: #ffdddd !default;
$pink-color: #f92080 !default;
$purple-color: #b509ac !default;
$purple-color-light: lighten($purple-color, 25%);
$red-color-dark: #b71c1c !default;
$red-color: #ff3636 !default;
$white-color: #ffffff !default;
$yellow-color: #efcc00 !default;

// Theme colors
$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;
$gg-green-color: #a7eb33 !default;
$gg-green-color-dark: darken($gg-green-color, 15%);
$gg-green-color-darker: #6c9a1d !default;

// Font awesome location
$fa-font-path: "../webfonts";
